extends ../../../_component/layout/layout

block content
    .background-image-iit
        h3.intro-text IT Work - Assignment 2
        .scroll-animation
            .mouse
            p.centered-paragraph Scroll
    br

    p.centered-paragraph #[a(href="https://cate-k.github.io/RMIT-Projects/introduction-to-it/assignment-2") Back]
    br

    p.heading Cate
    br
    p.sub-heading Software Engineer
    p #[a(href="https://www.youtube.com/watch?v=WWggmC8kYZc") A Day In the Life of a Software Engineer], Gyasi Linje, 2018.
    br
    p What kind of work is done by a software engineer?
    ul.list
        li Stand-up meetings
        li Meeting with interns
        li Coding
    br
    p What kind of people do they interact with?
    ul.list
        li Interns
        li Other team members
    br
    p Where do they spend most of their time?
    ul.list
        li Mostly at their desk/office
    br
    p What aspect of their position is most challenging?
    ul.list
        li Technical challenges, such as coding problems
    br
    br

    p.sub-heading Security Research Manager
    p #[a(href="https://www.youtube.com/watch?v=UtfVCcwrmK8") Cyber Security Careers], CREST Videos, 2016.
    br
    p What kind of work is done by a security research manager?
    ul.list
        li Vulnerability handling and disclosure management
        li Informs companies about bugs in their software
        li Works on longer-term security research projects
    br
    p What kind of people do they interact with?
    ul.list
        li Data scientists
        li Engineers
        li Press and tradeshow people
    br
    p Where do they spend most of their time?
    ul.list
        li In the office
    br
    p What aspect of their position is most challenging?
    ul.list
        li Dealing with hackers
    br
    br

    p.heading Jesse
    br
    p.sub-heading SOC Analyst
    p #[a(href="https://www.youtube.com/watch?v=yuyVElFHjy8") A Day In the Life of a Cyber Security Specialist (Government Contractor)], DC CyberSec, 2019.
    br
    p An SOC Analyst contracting for the Australian government had the following things to say about the day-to-day tasks he may encounter.
    br
    p What kind of work is done by the IT professional?
    ul.list
        li SOC meeting in the morning discussing cyber trends (CVE).
        li Check tickets and reply to email. Check for anything urgent.
        li Monitor and analyse network traffic for malicious activity.
        li Risk meeting (weekly).
        li Redundancy testing with sysadmin.
        li Monitoring open source resources for nefarious postings that contain organisational and personal data.
        li Check high-risk log entries submitted by SOC team.
        li Patch vulnerabilities.
        li Write reports on the day's activities.
    br
    p What kind of people do they interact with?
    ul.list
        li Other SOC analysts within the team, but also across the entirety of Government.
        li Sysadmin at offsite data centres.
        li Intel analysts on open source activities affecting governments.
    br
    p Where do they spend most of their time?
    ul.list
        li Most of this professional's time is spent in the office, seldom venturing to an offsite data centre for testing and maintenance.
    br
    p What aspects are most challenging?
    ul.list
        li Navigating the red tape of working for the Australian government.
        li Writing reports that focus on the business requirements and making those understandable to IT-illiterate people.
    br
    br

    p.sub-heading Penetration Tester
    p #[a(href="https://www.youtube.com/watch?v=wDQ0KXR4D7A") A Day in the Life of an Ethical Hacker / Penetration Tester], The Cyber Mentor, 2019.
    br
    p A penetration tester working from home had this to say about his day-to-day activities.
    br
    p What kind of work is done by the IT professional?
    ul.list
        li Internal/external network assessments.
        li Web application assessments.
        li Wireless assessments.
        li Physical/social engineering/phishing assessments.
        li SOC assessments (purple team).
        li Report writing.
        li Client debriefs.
    br
    p What kind of people do they interact with?
    ul.list
        li Clients (business owners, IT teams)
        li SOC team for the company he works with.
    br
    p Where do they spend most of their time?
    ul.list
        li This professional spends his time working from home.
    br
    p What aspects are most challenging?
    ul.list
        li Writing an adequate report and debrief that makes sense to non-technical minded people.
    br
    br

    p.sub-heading Cyber Threat Intelligence Analyst
    p #[a(href="https://www.youtube.com/watch?v=85JL6lv6FKg") Day in the Life: Cyber Threat Intelligence Analyst], Chevron, 2019.
    br
    p This Cyber Threat Intelligence Analyst works for Chevron and had the following to say about her day-to-day experience.
    br
    p What kind of work is done by the IT pro?
    ul.list
        li Check email for current cyber events.
        li Looks at anything to do with oil/gas in the news and shares that info to the team.
        li Analyses phishing email to determine where they came from.
    br
    p What kind of people do they interact with?
    ul.list
        li Intelligence Team
        li The 'C-suite' or Chiefs of department (CTO, CFO, CEO, etc).
    br
    p Where do they spend most of their time?
    ul.list
        li Most of this professional's time at work is spent within the office.
    br
    p What aspects are most challenging?
    ul.list
        li Recognising and adapting to emerging threats.
    br
    br

    p.heading Leo
    br
    p.sub-heading Freelance Developer
    p #[a(href="https://www.youtube.com/watch?v=5spN0g9FG_c") My Life as a Solo Developer], Takuya Matsuyama, 2018.
    br
    p Takuya is a Freelance developer from Osaka who's main focus is his application InkDrop. (InkDrop is a markdown note taking application made for developers.)
    br
    p He started developing for companies however he never found any drive to work for them as he was only treated as a software engineer. Working for a company was never pleasurable for him as all he would do was to code.
    br
    p After quitting his company job, he decided to work as a freelance developer. He quickly found out that earning money from developing was hard since he couldn't find a way to profit from his developing applications. Takuya had to do some freelance work for start-ups on 6-months contracts which allowed him to earn some money.
    br
    p After 6 years of developing, he managed to get InkDrop off the ground, allowing him to start earning some money. InkDrop is a markdown note taking application made for developers.
    br
    p He strives through challenging environments such as the development and expansion of his app. Takuya finds it exciting as he has to deal with marketing, user support and product improvement on a day to day basis.
    br
    p Takuya works most of his time alone from home and has currently no clients as his main focus is InkDrop.
    br
    p Software developing has given Takuya the opportunity to see his job not as a job but as a way of life, allowing him to have freedom on his app development and build whatever he wants.
    br
    br

    p.sub-heading Application Developer
    p #[a(href="https://www.youtube.com/watch?v=aLccZMTLsmQ") A Day as an iOS Developer at Sixt], Sixt Karriere, 2019.
    br
    p Jesus works as an app developer for Sixt in Germany, he uses Xcode to do conduct his iOS development. On a daily basis, he tends to debug the code he works on and run it on his simulator to ensure he has fixed the issues.
    br
    p He interacts with his other colleagues exchanging ideas and suggestions as well as new plans to better develop their application. During meetings, he interacts also with his boss as well as other co-workers located around the world. Their approach towards their boss is informal as there is a chill-vibe around the whole office.
    br
    p He spends most of his time on his desk, meeting rooms, game room and cafeteria.
    br
    p The most challenging part of his job is that responsibility falls on him. At own pace jobs, individuals are left alone as they are expected to complete tasks and meet deadlines.
    br
    br

    p.heading Paul
    br
    p.sub-heading Web Developer
    p What kind of work is done by a web developer?
    ul.list
        li Design, create and maintain websites
        li Create consistent and efficient web applications and services
        li Software development
    br
    p What kind of people do web developers interact with?
    ul.list
        li Mainly with clients and management to discuss the needs of a website
    br
    p Where does the web developer spend most of their time?
    ul.list
        li Most of them spend 50-60% of their day doing projects for clients
    br
    p What aspect of their position is the most challenging?
    ul.list
        li Internet Explorer – mainly the biggest challenge they face
        li Latest web standards
        li User Experience
    br

    p.sub-heading Network Administrator
    p What kind of work is done by a network admin?
    ul.list
        li Installing and configuring computer network
        li Consulting with clients to specify system requirements
        li Working with IT support personnel
    br
    p What kind of people does a network admin interact with?
    ul.list
        li Technicians
        li Clients
        li Project Managers
    br
    p Where does the network admin spend most of their time?
    ul.list
        li Looking for bottlenecks
        li Taking calls for technicians
        li Maintaining log files
    br
    p What aspect of their position is the most challening?
    ul.list
        li Security – never ending threats are on the rise
        li Monitoring and regular maintenance
    br
    br