$colour-woodsmoke: #0b0c10;
$colour-ebony-clay: #1f2833;
$colour-tuna: #30333a;
$colour-abbey: #4e5559;
$colour-silver-sand: #c5c6c7;
$colour-white: #ffffff;
$colour-aquamarine: #66fcf1;
$colour-keppel: #45a29e;
