$colour-black: #000000;
$colour-woodsmoke: #0b0c10;
$colour-ebony-clay: #1f2833;
$colour-tuna: #30333a;
$colour-mineshaft: #333333;
$colour-abbey: #4e5559;
$colour-dove-grey: #717171;
$colour-grey-chateau: #a1a5ab;
$colour-silver: #bfbfbf;
$colour-lighter-silver: #bbbbbb;
$colour-silver-sand: #c5c6c7;
$colour-alto: #dddddd;
$colour-concrete: #f2f2f2;
$colour-white: #ffffff;
$colour-aquamarine: #66fcf1;
$colour-keppel: #45a29e;
$colour-gold: #ffd700;
