/* Animations */
@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }

  20% {
    background-position: 0% 0%;
  }

  21% {
    background-color: $colour-abbey;
  }

  29.99% {
    background-color: $colour-white;
    background-position: 0% 0%;
  }

  30% {
    background-color: $colour-abbey;
    background-position: 0% 100%;
  }

  50% {
    background-position: 0% 0%;
  }

  51% {
    background-color: $colour-abbey;
  }

  59% {
    background-color: $colour-white;
    background-position: 0% 0%;
  }

  60% {
    background-color: $colour-abbey;
    background-position: 0% 100%;
  }

  80% {
    background-position: 0% 0%;
  }

  81% {
    background-color: $colour-abbey;
  }

  90%,
  100% {
    background-color: $colour-white;
  }
}

@keyframes colorText {
  21% {
    color: $colour-abbey;
  }

  30% {
    color: $colour-white;
  }

  51% {
    color: $colour-abbey;
  }

  60% {
    color: $colour-white;
  }

  81% {
    color: $colour-abbey;
  }

  90% {
    color: $colour-white;
  }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }

  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }

  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }

  15%,
  19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }

  28%,
  29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }

  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }

  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }

  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }

  45%,
  49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }

  58%,
  59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }

  60% {
    opacity: 1;
    transform: scale(0.9) translateY(-20px);
  }

  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }

  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }

  75%,
  79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }

  88%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}

@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(8px);
  }

  30% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(8px);
  }

  90% {
    transform: translateY(0);
  }
}

@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(2px);
  }

  30% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(2px);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(2px);
  }

  90% {
    transform: translateY(0);
  }
}

.scroll-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: white;
    font-size: 0.5rem;
    text-indent: 15px;
    letter-spacing: 20px;
    margin-top: 50px;
    animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
  }
}

.mouse {
  background: $colour-abbey,
    linear-gradient(transparent 0%, transparent 50%, white 50%, white 100%);
  background-size: 100% 200%;
  border-radius: 100px;
  margin-top: 2rem;
  height: 88px;
  width: 52px;
  position: relative;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 46px;
    height: 82px;
    background-color: $colour-tuna;
    border-radius: 100px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: $colour-keppel;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation: trackBallSlide 5s linear infinite;
  }
}
