// General
html,
body {
  height: 100%;
  font-family: "Montserrat";
  background-color: $colour-woodsmoke;
  color: white;
  scroll-behavior: smooth;
}

h3 {
  font-family: "Pacifico";
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin: auto;
  width: 75%;
  margin-bottom: 1rem;
}

a {
  color: $colour-aquamarine;

  &:hover {
    color: $colour-keppel;
  }
}

hr {
  margin-bottom: 0.5rem;
}

.heading {
  font-family: "Special Elite";
  font-size: 2rem;
  text-align: center;
}

.sub-heading {
  text-align: left;
  font-family: "Special Elite";
  font-size: 1.5rem;
  margin: auto;
  width: 75%;
}

.centered-paragraph {
  text-align: center;
}

.list {
  list-style-type: disc;
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin-left: 18%;
  width: 70%;
}

// Responsiveness
@media screen and (min-width: 25em) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
  }
}

// Menu
.menu__wrapper {
  background-color: $colour-woodsmoke;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  right: -100%;
  border-left: 0.17rem solid $colour-ebony-clay;
}

.menu__hidden {
  display: none;
}

.rmit-menu {
  font-size: 3rem;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

#toggle-menu:checked {
  & + .menu__wrapper {
    right: 0%;
    width: 15rem;
  }

  & ~ label[for="toggle-menu"]:before {
    content: "\e902";
  }
}

.menu__list {
  margin-top: 4rem;
}

.menu__item {
  margin-bottom: 1rem;
}

.menu__link {
  color: $colour-aquamarine;
  font-family: "Montserrat";
  font-size: 1rem;
  margin: 1rem;

  &:hover {
    color: $colour-keppel;
  }
}

// Home page
.front-page-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(asset/image/mountains.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

  p {
    font-size: 1.8rem;
    letter-spacing: 2px;
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.intro-text {
  font-size: 3rem;
  padding-top: 50%;
}

// Introduction to IT - SP3 2019
.background-image-iit {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(asset/image/brown-mountains.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.neris-img {
  background-image: url(asset/image/neris-type-test.png);
  background-size: cover;
  height: 15rem;
  width: 8rem;
  margin: auto;
}

.learning-style-img {
  background-image: url(asset/image/learning-style-test.png);
  background-size: cover;
  height: 7.5rem;
  width: 20rem;
  margin: auto;
}

.big-five-img {
  background-image: url(asset/image/big-five-personality-test.png);
  background-size: cover;
  height: 5rem;
  width: 15rem;
  margin: auto;
}

// Assignment 2 - IIT
.skill-table {
  background-image: url(asset/image/skills-table.png);
  background-size: cover;
  height: 608px;
  width: 756px;
  margin: auto;
}

.unrequired-skills {
  background-image: url(asset/image/unrequired-skills.png);
  background-size: cover;
  height: 121px;
  width: 757px;
  margin: auto;
}

// Assignment 3 - IIT
.timeframe-table {
  background-image: url(asset/image/timeframe-table.png);
  background-size: cover;
  height: 630px;
  width: 646px;
  margin-left: auto;
  margin-right: auto;
}

// Web Programming - SP4 2019
.black-background {
  background-color: $colour-black;
}

.logo {
  height: 30%;
  width: 35%;
  display: block;
  margin: auto;
}

.wp-heading {
  font-family: "League Spartan";
  text-transform: uppercase;
  text-align: center;
  padding-top: 4rem;
}

#navbar {
  text-align: center;
  background-color: $colour-mineshaft;
  overflow: hidden;
  z-index: 9999;

  a {
    font-family: "League Spartan";
    color: $colour-gold;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-block;
    margin: auto;
    padding: 2rem;
  }

  a.current,
  a:hover {
    color: $colour-black;
    background-color: $colour-silver;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

  + {
    .content {
      padding-top: 3.75rem;
    }
  }
}

// Footer
.footer-information {
  font-family: "League Spartan";
  background-color: $colour-mineshaft;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  width: 100%;
}

.footer-info {
  text-align: center;
  font-size: 1rem;
  line-height: 1.8rem;
}

.footer-data {
  color: $colour-grey-chateau;
  text-align: center;
  padding: 0.5rem;

  div {
    line-height: 1.5rem;
    display: inline-block;
    padding: 1rem;
  }
}

// Slideshow
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.text {
  color: $colour-concrete;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
}

.slide-number {
  color: $colour-concrete;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.circles {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: $colour-lighter-silver;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: $colour-dove-grey;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide-pic-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(asset/image/cinema-slide.jpg);
  background-size: cover;
  height: 10rem;
  width: 100%;
}

.slide-pic-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(asset/image/frozen-2-slide.jpg);
  background-size: cover;
  height: 10rem;
  width: 100%;
}

.slide-pic-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(asset/image/star-wars-slide.jpg);
  background-size: cover;
  height: 10rem;
  width: 100%;
}

// About Us
.picture-wrapper {
  text-align: center;
}

.seat {
  height: 16rem;
  width: 20rem;
}

.caption {
  font-family: "League Spartan";
  text-transform: uppercase;
  text-align: center;
  display: block;
}

// Prices
.parallax {
  background-image: url(asset/image/3d-dolby-vision.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 35rem;
  width: 100%;
  overflow: hidden;
}

.card {
  border: 3px solid $colour-gold;
  background-color: $colour-darker-mineshaft;
  border-radius: 5px;
  height: 14.5rem;
  width: 19rem;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

  p {
    font-size: 0.7rem;
    width: 100%;
    margin-bottom: 0.2rem;
  }
}

.card-heading {
  font-family: "League Spartan";
  color: $colour-gold;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

// Now Showing
