@media (min-width: 1280px) {
  // General
  p {
    font-size: 0.5rem;
    line-height: 1.2rem;
    width: 60%;
  }

  .heading {
    font-size: 1rem;
  }

  .sub-heading {
    font-size: 0.8rem;
    width: 60%;
  }

  .centered-paragraph {
    font-size: 0.5rem;
  }

  .list {
    font-size: 0.5rem;
    line-height: 1.2rem;
    width: 60%;
    margin-left: 25%;
  }

  // Menu
  .rmit-menu {
    font-size: 1rem;
  }

  #toggle-menu:checked {
    & + .menu__wrapper {
      width: 6rem;
    }
  }

  .menu__list {
    margin-top: 2rem;
  }

  .menu__item {
    margin-bottom: 0.5rem;
  }

  .menu__link {
    font-size: 0.5rem;
    margin: 0.5rem;
  }

  // Front page
  .front-page-image {
    h3 {
      padding-top: 15%;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .intro-text {
    font-size: 1.5rem;
    padding-top: 50%;
  }

  // Introduction to IT - SP3 2019
  .background-image-iit {
    h3 {
      padding-top: 20%;
    }
  }

  // Web Programming - SP4 2019
  .logo {
    height: 30%;
    width: 15%;
  }

  .wp-heading {
    padding-top: 2rem;
  }

  #navbar {
    a {
      font-size: 0.5rem;
      padding: 0.8rem;
    }
  }

  // Footer
  .footer-information {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .footer-info {
    font-size: 0.5rem;
    line-height: 1rem;
  }

  .footer-data {
    font-size: 0.5rem;
    padding: 0.1rem;
  }

  // About Us
  .picture-wrapper {
    display: flex;
    width: 50%;
    margin: auto;
  }

  .seat-column {
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .seat {
    height: 7rem;
    width: 9rem;
  }

  // Prices
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 8rem;
    width: 13rem;

    p {
      font-size: 0.5rem;
    }
  }

  .card-group-two {
    margin-left: 1rem;
  }

  // Now Showing
}
