doctype html
html
  head
    title RMIT Projects
    link(rel="stylesheet", href="/style.css")
    //- link(rel="stylesheet", href=`${baseUrl}style.css`)
  body
    include ../menu/menu
    block content
    include ../footer/footer