@media (min-width: 1280px) {
  // General
  p {
    font-size: 0.5rem;
    line-height: 1.2rem;
    width: 60%;
  }

  .heading {
    font-size: 1rem;
  }

  .sub-heading {
    font-size: 0.8rem;
    width: 60%;
  }

  .centered-paragraph {
    font-size: 0.5rem;
  }

  .list {
    font-size: 0.5rem;
    line-height: 1.2rem;
    width: 60%;
    margin-left: 25%;
  }

  // Menu
  .rmit-menu {
    font-size: 1rem;
  }

  #toggle-menu:checked {
    & + .menu__wrapper {
      width: 6rem;
    }
  }

  .menu__list {
    margin-top: 2rem;
  }

  .menu__item {
    margin-bottom: 0.5rem;
  }

  .menu__link {
    font-size: 0.5rem;
    margin: 0.5rem;
  }

  // Front page
  .front-page-image {
    h3 {
      padding-top: 15%;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .intro-text {
    font-size: 1.5rem;
    padding-top: 50%;
  }

  // Introduction to IT - SP3 2019
  .background-image-iit {
    h3 {
      padding-top: 20%;
    }
  }

  // Web Programming - SP4 2019
  .logo {
    height: 30%;
    width: 15%;
  }

  #navbar {
    padding: 0;

    a {
      font-size: 0.5rem;
    }
  }
}
