extends ../../../_component/layout/layout

block content
    .background-image-iit
        h3.intro-text Career Plans - Assignment 3
        .scroll-animation
            .mouse
            p.centered-paragraph Scroll
    br

    p.centered-paragraph #[a(href="https://cate-k.github.io/RMIT-Projects/introduction-to-it/assignment-3") Back]
    br

    p Career Plans:
    ul.list
        li Caitlen Koh - Blockchain Developer
        li Jesse Catchpole - Cyber Security Operations Analyst
        li Leo Munoz - Specialist Engineer
        li Paul Katia - Construction Project Manager
    br
    p If we were to compare and contrast the career plans of the Wildcard(*) team members, we would see that, while certainly different, each career has a common thread running through it: Information Technology. Whether it is developing blockchain applications or planning and managing construction project finances and logistics; designing and carrying out specialist mining techniques or disseminating threat intelligence and defending computer systems, there is an underlying manipulation of digital information.
    br
    p Let us start off with some common soft requirements of the jobs. As with any job that requires teamwork, there is a necessity for good communication. From merely being able to get your idea across clearly, to being able to mitigate disputes or tension within the group, communication is key. A high level of both written and verbal forms of communication will need to be maintained to prevent issues going unattended.
    br
    p Exploring teamwork further, the willingness for collaboration as well as self-direction is important. In any career, initiative is a powerful thing to wield.
    br
    p Now onto the hard skills, as these careers focus on the IT side of life, a cursory knowledge in the systems being used will aid in the completion of tasks. A precursory knowledge of the network, including cables, routers and internet connection settings will assist in trouble shooting. As well as, at least, a working knowledge of the operating system and any specialized software needed to carry out the jobs.
    br
    p For communication with other people working alongside you or in a similar field, an understanding of how to use enterprise social networks would be necessary. Programs such as Slack, Office 365 and Yammer, just to name a few.
    br
    p Some programmatic knowledge will also be needed to be able to custom build tools, or correctly use tools designed for specialized tasks. In a lot of cases, this will be, either, Java or Python.
    br
    p As with anyone working on a computer in a specialized field, security is a high priority. Each person should have a cursory knowledge of the avenues of attack and how best to ensure their work does not become compromised.
    br
    p Now we dive into the differences between the jobs. A construction project manager will need to find a balance between the finances and time, whereas they may not need to know how a smart contract works, as in the case of the blockchain developer. A security analyst will not need to know where and when to set off an explosion, as the specialist engineer will not need to know how to reverse shell into a Linux box.
    br
    p A blockchain developer will need to write high quality code and be well versed in programming languages such as Node.js, C++, Java, Python and Solidity. They develop software and build and test applications for the blockchain.
    br
    p The specialist engineer will need to know how to manipulate specialized software to design a safe detonation experience, considering geography, yields and atmospheric conditions, or at least operate the software that does this.
    br
    p Construction project managers will need to be able to balance the design and costs of logistics on a construction site. This requires the ability to simultaneously handle many different types of software.
    br
    p The security analyst will need to be aware that however much they may know, there is always something around the corner that no-one has seen before. A sense of creativity and original thought will be met by actors who are doing the exact same thing but are getting paid a lot more to do so.
    br
    p A security analyst's job includes many roles. Education, auditing, incident response and patching are just a few of the tasks a security analyst will need to know.
    br
    br