extends ../../../_component/layout/layout

block content
    .background-image-iit
        h3.intro-text Feedback - Assignment 3
        .scroll-animation
            .mouse
            p.centered-paragraph Scroll
    br

    p.centered-paragraph #[a(href="https://cate-k.github.io/RMIT-Projects/introduction-to-it/assignment-3") Back]
    br

    p We committed to distribute the workload evenly throughout the project. We focused on each of our strengths and weaknesses to develop the project.
    br
    p The team found challenging doing things out of our comfort zones. Contributing to task that were out of our knowledge or capabilities created a more determined mind to continue with our IT studies.
    br
    p Please refer to each of our SparkPLUS contribution.
    br
    br

    p.heading Group Reflection
    p After some self-reflection, the group has come to agreement on how we operated as a team. First, the entire process was smooth from start to finish.
    p Each member was keen to get started and contribute. As circumstances changed, the team adapted, divvying up tasks and taking on extra responsibilities without fuss. This was done with respect and efficiency.
    br
    p As with any organization there is always something that can be improved. In our case, we have identified a few things that we can do better. Now that we are through the initial lull of getting to know each other and how we each operate; future endeavors will be more readily tackled. As well as getting off the ground faster, each member will strive to be more present in the communication of the day-to-day.
    br
    p Finally, we will also complete tasks quickly so that we can all move forward as a group; providing us a chance to overcome any obstacles that may be presented.
    br
    p After this initial team project, the most notable aspect that has surprised us, is the enthusiasm for completing tasks. Even when the tasks seemed complex or time-consuming, enthusiasm was high. This made the environment a great place to work in, resulting in the overall experience feeling effortless.
    br
    p As the report comes to an end, there are a few things we have learned about working as a group. One is that we are each a wealth of knowledge in our own right. We each have strengths and we each have weaknesses. Second, we can rely on each other to carry our shortfalls and overcome complex tasks.
    br
    br

    p.heading Cate
    p.sub-heading What went well?
    p We started the assignment earlier than last time and was able to finish it with some time to spare. Everyone completed their designated tasks well and came up with great ideas.
    br
    p.sub-heading What could be improved?
    p Could have documented each group member’s input into the assignment.
    br
    p.sub-heading At least one thing that was surprising?
    p With teamwork, you can get projects done faster and tackle difficult tasks together.
    br
    p.sub-heading One thing I’ve learned about groups
    p Though groups may be a little challenging to work with (especially at the start), everyone has a different set of useful skills and strengths that helps the project take shape and get closer to being finished in a short amount of time.
    br
    br

    p.heading Jesse
    p.sub-heading What went well?
    p We worked well to distribute the tasks amongst ourselves, culminating in an almost-complete rough draft early on. From there we each looked over it and made suggestions on changes, which we then worked away at to have a completed report we were happy with.
    br
    p.sub-heading What could be improved?
    p Record keeping of our individual inputs into the creation of the report could be improved. While Discord is very easy to use, its auditing capabilities are limited. Perhaps a shift to an alternative group chat application with more pronounced auditing options would be better for reports that require this information as part of the rubric.
    br
    p.sub-heading At least one thing that was surprising?
    p One thing that surprised me was the speed at which we went from having an idea for an app, to having a functional mock-up. Using existing technology, of which a lot of us were unaware existed, to make this happen is a good example of how to achieve goals in the real world.
    br
    p.sub-heading One thing I've learned about groups
    p Even though we have worked together once before, we are still strangers to each other, so being able to put that aside and get the work done was a key part to our success in completing the task. However different we may be as people, if we all act professionally, there is no reason why the team cannot work effectively together.
    br
    br

    p.heading Leo
    p.sub-heading What went well?
    p We once again came together in the development and contribution of this project. This time we commenced the project at a much earlier stage.
    p Everyone in the team was always eager to contribute with anything that was missing.
    br
    p.sub-heading What could be improved?
    p A record keeping of our Discord chat.
    br
    p.sub-heading At least one thing that was surprising?
    p It was surprising how the team once again came together when each member had their own personal commitments.
    p The creation of the app prototype was, at the beginning, challenging. Nonetheless, it developed an interest to follow up on the learning of applications and their elaboration.
    p I found it quiet challenging, especially with simple tasks such as selecting suitable colors, images and linkage. Yet Cate and the group showed me improved ways to take my ideas further.
    br
    p.sub-heading One thing that I’ve learned about groups
    p I have learned that groups are hard to work with. This group, however, has made me realized that you need to rely and count on each other to complete the task at hand.
    p Also, I have learned that each member has very strong suits which combined, make us stronger.
    br
    br

    p.heading Paul
    p.sub-heading What went well?
    p After doing the previous project, we knew what was expected for this one and took the initiative to start scoping out the last assessment and delegated tasks for the rest of the group members.
    br
    p.sub-heading What could be improved?
    p Moving forward from the Discord app which we use for general chat and discussion, I hardly check it and forget about it and there might be a useful stuff we would miss out on – messenger perhaps or something that links towards OneDrive – everything is under one roof.
    br
    p.sub-heading At least one thing that was surprising?
    p The use of mock technology towards in the creating of the chore app and how user friendly the app is and how quickly we worked getting this project completed.
    br
    p.sub-heading One thing that I’ve learned about groups
    p Working in groups is lot easier than being alone, you tend to learn a lot of things from everyone with different skill sets and hence everyone learning from you.
    br
    br