extends ../../../_component/layout/layout

block content
    .background-image-iit
            h3.intro-text Team Profile - Assignment 2
            .scroll-animation
                .mouse
                p.centered-paragraph Scroll
    br

    p.centered-paragraph #[a(href="https://cate-k.github.io/RMIT-Projects/introduction-to-it/assignment-2") Back]
    br

    p.heading Cate
    br
    p Cate is a #[a(href="https://www.16personalities.com/esfj-personality") 'Consul'] (ESFJ-A), from the Myers-Briggs test. She has good practical skills, easily makes friends, and is a responsible person.
    br
    p She is an empathic idealist and a practical caretaker, according to the Big Five personality test, which means that she uses insight and creativity to help others in practical ways.
    br
    p Her strongest learning style is visual learning.
    br
    p Goal-driven and determined, Cate is a practical extravert who enjoys helping others. She likes learning and picking up new skills.
    br
    br

    p.heading Jesse
    br
    p Jesse has been identified by the Myers-Briggs test as a #[a(href="https://www.16personalities.com/istp-personality") 'Turbulent Virtuoso'] (ISTP-T).This means he is an explorer at heart who always strives for self-betterment. Introverted and observant by nature, Jesse takes the time to consider options before deciding. However, he demonstrates an ability to improvise effectively, with ingenuity being a valued personal skill.
    br
    p According to a test focused on work values, Jesse demonstrates that he holds, above all else, a desire to work in an environment that is challenging, yet rewarding. He likes to be able to take a creative approach to solving problems and generally operating under his own terms.
    br
    p When queried on his learning style, Jesse was found to have a propensity for learning auditorily, further cementing that knowledge by being hands on.
    br
    p This characterisation of Jesse's traits will lend a creative flair to the group. Thinking about the 'what ifs' is a quality that will allow the consideration of alternative paths for project development and goal achievement. He will fit right in with the group and allow it to operate smoothly. His input will be considered and guided by the desire for team success.
    br
    p Jesse is a person who understands his deficiencies and strives to better himself. He is always eager to learn new things and traverse unfamiliar territory, especially in creative endeavours.
    br
    br

    p.heading Leo
    br
    p After conducting a Myers-Briggs test, Leo was identified as a #[a(href="https://www.16personalities.com/esfj-personality") 'Consul'] (ESFJ-A), which are shown to help others and do the right thing. It is important to keep in mind that what seems right for a Consul, isn't always the absolute truth. Consul profiles such as Leo's, describe a strong sense of duty which ensures they strive to meet their obligations, however, they often neglect their own needs in the process, which can affect the outcome of their own personal goals or task.
    br
    p With a highly social personality, Leo demonstrates an action-oriented behaviour and strong tactile skills. His organisational skills will be grasped by other team members within the group, creating a balance in the team.
    br
    br

    p.heading Paul
    br
    p Paul brings a hands-on learning approach with an outgoing personality which will provide excellent creativity and out of the box thinking.
    br
    p After the completion of the Myers-Briggs Test, Paul is an #[a(href="https://www.16personalities.com/esfp-personality") 'Entertainer'] (ESFP-A), which means they thrive by working in groups of people, always having a positive attitude towards everything. The downside of this personality is they can be easily distracted from a given task.
    br
    br