extends _component/layout/layout

block content
    .front-page-image
        h3.intro-text RMIT Projects
        p.centered-paragraph Welcome to my collection of a few of my RMIT assignments.
        p.centered-paragraph Click on the menu at the top right corner of your screen!