extends _component/layout/layout

block content
    .front-page-image
        h3.intro-text RMIT Projects
        p A collection of a few of my RMIT website assignments.
        p Click on the menu at the top right corner of your screen!