extends ../../../_component/layout/layout

block content
    .background-image-iit
            h3.intro-text Group - Assignment 2
            .scroll-animation
                .mouse
                p.centered-paragraph Scroll
    br

    p.centered-paragraph #[a(href="https://cate-k.github.io/RMIT-Projects/introduction-to-it/assignment-2") Back]
    br

    p.heading Group
    p After some self-reflection, the group has come to agreement on how we operated as a team. First, the entire process was smooth from start to finish. Each member was keen to get started and contribute. As circumstances changed, the team adapted, divvying up tasks and taking on extra responsibilities without fuss. This was done with respect and efficiency.
    br
    p As with any organisation there is always something that can be improved. In our case, we have identified a few things that we can do better. Now that we are through the initial lull of getting to know each other and how we all operate; future endeavours will be more readily tackled. As well as getting off the ground faster, each member will strive to be more present in the communication of the day-to-day. Finally, we will also complete tasks quickly so that we can all move forward as a group; providing us a chance to overcome any obstacles that may be presented.
    br
    p After this initial team project, the most notable aspect that has surprised us, is the enthusiasm for completing tasks. Even when the tasks seemed complex or time-consuming, enthusiasm was high. This made the environment a great place to work in, resulting in the overall experience feeling effortless.
    br
    p As the report comes to an end, there are a few things we have learned about working as a group. One is that we are each a wealth of knowledge in our own right. We each have strengths and we each have weaknesses. Second, we can rely on each other to carry our shortfalls and overcome complex tasks.
    br
    br