extends ../../../_component/layout/layout

block content
    .background-image-iit
        h3.intro-text Skills & Jobs - Assignment 3
        .scroll-animation
            .mouse
            p.centered-paragraph Scroll
    br

    p.centered-paragraph #[a(href="https://cate-k.github.io/RMIT-Projects/introduction-to-it/assignment-3") Back]
    br

    p.heading Cate
    p I would hire a:
    ul.list
        li Mobile app developer
        li Blockchain developer
        li Cloud services developer
        li Creative designer
    br
    p The developers mentioned above would take care of the security, design a safe place to store user information, and market the mobile app to the public.
    br
    br

    p.heading Jesse
    p If I were to manage a team of four team members to take this project to the next level, those four people would include a DevSecOps Architect, Digital Designer, Mobile App Developer iOS/Android and a Cloud Engineer.
    br
    p Each of these positions would be a key asset to the completion of this project. Having experts in these areas would ensure the app is built both quickly and securely.
    br
    br

    p.heading Leo
    p Regarding taking the project to the next level, I would be selecting the following four people:
    ul.list
        li Network Architect and Engineer
        li Application Developer iOS/Android
        li Blockchain Developer
        li Marketing Expert
    br
    p As I find to be key players in the development of not just IT applications but also business projects.
    br
    br

    p.heading Paul
    p To move forward and take this project to better and bigger places, I would be hiring the following:
    ul.list
        li Blockchain Developer
        li Software Designer
        li Network Engineer
        li Marketing Manager
    br
    br