extends ../../../_component/layout/layout

block content
    .background-image-iit
            h3.intro-text Project ChoreKingdom - Assignment 2
            .scroll-animation
                .mouse
                p.centered-paragraph Scroll
    br

    p.centered-paragraph #[a(href="https://cate-k.github.io/RMIT-Projects/introduction-to-it/assignment-2") Back]
    br

    p.heading Introduction
    br
    p "If you want to change the world, start off by making your bed." - William McRaven
    br
    p Housework surely seems simple; however, parents find themselves in a constant struggle to have their children complete chores, pick up after themselves or simply just help their parents make household jobs easier.
    br
    p How many times have parents heard, "I'll do it later", "Why do I have to do it?", or, "Do I have to do it?"
    br
    p Introducing ChoreKingdom; an application created to simplify parents' lives and provide a sense of purpose behind children completing set chores, allowing them to earn cryptocurrency, fiat or a reward of their choice.
    br
    p We will be further explaining ChoreKingdom by introducing the project's team, their ideal jobs, industry data and an overview of some of the current IT technologies behind this app.
    br
    br

    p.heading What is ChoreKingdom?
    p ChoreKingdom is a chore application focused on the ease and fun of chores for children by introducing them to key adult factors, such as responsibility, privileges and obligations.
    br
    p Dr Robert Waldinger (Liz Mineo, 2017) suggests that there are benefits in supporting children to complete chores. His studies concluded that adults who completed chores as children developed a greater work ethic than those who did not. Furthermore, ChoreKingdom indirectly provides the ability for children and parents to understand the meaning and correlation of money and work. This creates a sense of responsibility in children in meeting obligations, developing financial independence and understanding how to better distribute income to better prepare children for adulthood.
    br
    br

    p.heading How ChoreKingdom Works
    p Parents can download the application onto Android or iOS devices on both their children's and personal devices. They then need to sign up and create an account. The children's account can be linked to the main account, be either a single parent, couple or guardian.
    br
    p New chores are inputted and managed by the main account with the ability to add descriptions to facilitate the activity for the children. For families with multiple children, confusion can happen, therefore a child can accept the chore by inputting their own ID. This will help to authenticate the assigned chore to the correct child.
    br
    p After completing a chore, the child will need to mark the chore task as completed. Additionally, a video or photo can be added to support their accomplishment. These will notify the parent or guardian who will need to confirm the chore's completion. Some children may try to avoid tasks or take an easier option towards task completion by taking multiple photos or videos to provide evidence for future chores. To avoid this, a timestamp on videos and photos will be included.
    br
    p Since progress is important, chores can also be consolidated to create goals for the week. Meeting weekly or monthly goals can bring not only a sense of accomplishment but also additional bonus rewards.
    br
    p Tracking children's progress is vital, therefore, ChoreKingdom provides a tracking capability of the assigned chores to monitor progress. ChoreKingdom works with GPS tracking for parents or guardians to track their children when heading to the doctor, dentist or other appointments. By adding inbuilt GPS tracking within the app, parents can confirm their children's whereabouts.
    br
    br

    p.heading Reward Programs
    p At the completion of each chore, children can get rewarded with the following:
    ul.list
        li Crypto such as Bitcoin, Litecoin and Ethereum
        li Points to exchange for in-game purchases
        li Money
        li Video games or Toys.
    p Bonuses can be given by parents when children meet weekly or monthly goals.
    br
    p Furthermore, ChoreKingdom can work with schools for assignments, homework and task tracking. In conjunction with your device's calendar, ChoreKingdom will be able to inform you of any school activity, assignment and homework ahead. ChoreKingdom will be linked to the parentor guardian's account to monitor their children's progress, however, input can only be provided by teachers.
    br
    br

    p.heading Cost
    p ChoreKingdom will be free. Users will be able customise their experience by purchasing items in-store such as skins, emojis, toys and more.
    br
    br

    p.heading Age
    p Minimum age: 4+.
    br
    br

    p.heading Devices
    p ChoreKingdom works on Android and iOS devices.
    br
    br

    p.heading Privacy Policy
    p We take privacy seriously, therefore:
    ul.list
        li Users' information will be encrypted in our own cloud service.
        li Communication between users will have end-to-end encryption.
        li No personal information will be shared with any analytic services.
        li Family ID code will be provided to maintain anonymity across all users until matching code is input.
    br
    br